.master-page {
  &__container {
    padding: 0 16px 0 16px;

    &--centered {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: 576px) {
        max-width: 540px;
      }

      @media screen and (min-width: 768px) {
        max-width: 720px;
      }

      @media screen and (min-width: 992px) {
        max-width: 960px;
      }

      @media screen and (min-width: 1200px) {
        max-width: 1140px;
      }
    }

    &--full-height {
      height: 100%;
    }

    &--flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
