$color__primary: #243462;
$color__primary--dark: #1d2a4f;
$color__primary--light: #334a8f;
$color__primary--pale: #556baa;
$color__on-primary: #ffffff;

$color__secondary: #f64146;
$color__secondary--dark: #ac2d31;
$color__secondary--light: #f7676b;
$color__secondary--pale: #f88588;
$color__on-secondary: #ffffff;

$color__neutral: #b0b4c0;
$color__neutral--dark: #999999;
$color__neutral--light: #e2e5ec;
$color__neutral--pale: #eff1f6;
$color__on-neutral: #000000;

$color__background: #ffffff;
$color__on-background: #000000;

$color__surface: #eff1f6;
$color__on-surface: #000000;

$color__error: #b00020;
$color__on-error: #ffffff;
