.blockchain-logo {
  display: block;
  width: 129px;
  height: 30px;
  background-image: url(/assets/images/blocks/blockchain-logo/blockchain-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
