.button {
  position: relative;
  display: block;
  padding: 15px;
  font-size: 0.95 * $typography__font-size;
  font-weight: 400;
  line-height: 0.6 * $typography__line-height;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: $color__on-primary;
  transition: color 0.3s;
  @include user-select__none();

  &:hover {
    color: $color__secondary;
    outline: none;
  }

  &:active {
    outline: none;
  }
}
