<div class="master-page__content-title">
  <div class="master-page__container master-page__container--centered">
    <h1 class="typography typography--headline1">
      Сервисы
    </h1>
  </div>
</div>
<div class="master-page__content-navigation-bar">
</div>
{{outlet}}
